@using StackExchange.Profiling
    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    @* I give up; iOS is just so bad it needs to have zoom removed in order to function [jj 13Sep20] *@
    @if (Request.UserAgent.Contains("iPhone") || Request.UserAgent.Contains("iPod")) {
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    } else {
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    }

    <title>@ViewBag.PageTitle</title>

    @*<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">*@
    @Html.Partial("_Favicons")

    @Styles.Render("~/Content/styles")
    @* easy custom themeing from http://bootswatch.com/ *@
    <link id="linkTheme" href="/Content/themes/@(Webadel7.MvcApplication.ClientTheme).min.css" rel="stylesheet">
</head>

<body>
    <!-- Fixed top navbar -->
    @RenderSection("Nav", false)

    <div class="container">
        @RenderBody()
    </div>

    @* TODO: deprecate all "*Modal" divs and use this one, instead
        - also have to refactor all the javascript in support of these modals *@
    <div id="modal" class="modal fade" tabindex="-1"></div>

    @RenderSection("BottomNav", false)

    @* I have this idea about user-customizable text at the bottom of the page - but maybe it's just too noisy?
        <nav class="navbar navbar-default navbar-fixed-bottom hidden-xs" role="navigation" style="height: 26px; min-height: 0;">
            <div class="container small">
                <p class="navbar-text" style="margin-top: 5px;">The major difference between a thing that might go wrong and a thing that cannot possibly go wrongsd</p>
                <a href="#" class="btn btn-link navbar-btn btn-xs pull-right" style="margin-top: 2px;">change</a>
            </div>
        </nav>*@

    @Scripts.Render("~/public/scripts")

    @*@StackExchange.Profiling.MiniProfiler.RenderIncludes(StackExchange.Profiling.RenderPosition.Right, null, null, null, true)*@
    @(MiniProfiler.Current?.RenderIncludes(StackExchange.Profiling.RenderPosition.Right, null, null, null, true))

    @RenderSection("Scripts", false)
</body>

<!-- The major difference between a thing that might go wrong and a thing that cannot possibly go wrong is that when a thing that cannot possibly go wrong goes wrong it usually turns out to be impossible to get at or repair.  -->
</html>