@model Badge
@{ Layout = null; }

<script type="text/javascript">
    $(document).ready(function () {
        $("#modal form").submit(function (e) {
            e.preventDefault();

            $.post("/Badges/NominateUser", $("#modal form").serialize(), function () {
                alert("User has been nomindated.");
            });
        });
    });
</script>

<div class="modal-dialog">
    <form class="form-inline">
        <input type="hidden" name="badgeId" value="@Model.Id" />

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@Model.Name</h4>
            </div>

            <div class="modal-body">
                <p>@BadgeHelpers.RenderBadge(Model.Id)</p>

                <p>@Model.Description</p>

                <hr />
                <p>Active users who have this badge:</p>

                <div class="row">
                    @foreach (var user in Webadel7.Badge.GetUsers(Model.Id)) {
                        <div class="col-xs-6 col-sm-4 user" id="@user.Id" style="margin-bottom: 5px; text-decoration: underline;">
                            @user.Username
                        </div>
                    }
                </div>

                <hr />
                <p>Nominate a user (including yourself) to receive this badge:</p>

                <div class="form-group">
                    <select class="form-control" name="userId" id="userId">
                        @foreach (Webadel7.User user in Webadel7.User.GetAll(true)) {
                            if (user.Id == Webadel7.SystemConfig.AnonymousId || user.Id == Webadel7.SystemConfig.SysopId) { continue; }
                            <option value="@user.Id">@user.Username</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Nominate</button>
                </div>

            </div>

            @*<div class="modal-footer">
                </div>*@
        </div>
    </form>
</div>
